@font-face {
  src: url("../fonts/GOINGMERRY.otf") format("opentype");
  font-family: "GOINGMERRY";
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #696969;
}


.mynavbar {
    background-color: #FFF100;

}

.navbar {

    font-weight: 900;
    background-color: #000000;
    color: white;
}


.nav-link,
.navbar-brand {
    color: white;
}

.banner-btn {
    background-color: #FFF100;
    color: white;
    font-weight: 600;
    padding: 12px 58px;
    border-radius: 30px;
    font-size: 21px;
}


.banner-text {

    font-size: 24px;
}
.text-title-service{
    font-size: 48;
    font-weight: 700;
}


.banner-btn:hover {
    background-color: white;
    color: #FFF100;
}



.banner {
    background-color: #000000;
    color: white;
}

.banner-heading {
    font-size: 72px;
    font-weight: 800;

}

.text-subtitle {
    color: #FFF100;
    font-weight: 700;
    font-size: 24px;
}

.text.title {
    font-weight: 700;
    font-size: 35px;

}

.service-image-background {
    background-color: rgb(243, 249, 251);
    border-radius: 50%;

}

.text-title-large {
    font-size: 48px;
}

.service-image-background img {
    margin-top: -100px;
    margin-left: 46px;
}

.navbar-brand {
    font-size: 45px;
}

.about-img {
    overflow: hidden;
    height: 650px;
    width: auto;
    max-width:100%;
}

.img-plotter {
	height: 800px;
	width: auto;
	max-width:100%;
}

.img-medal {
	height 600px;
	width: auto;
	margin-left: -100px;
	margin-top: 30px;
	max-width:100%;
}



.text-link {
    font-weight: 700;
    text-decoration: none;
    color: black;
    
}


.text-border{
    border-bottom: 3px solid#FFF100
}



.text-p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.service-icon{
    background-color: #FFF100;
    color: white;
    padding: 11px;
    border-radius: 50%;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    
    padding-right: 10px;
  }

  .service-title{
    font-weight: 700;
    font-size: 21px;
  }
  .service-icon {
    transition: 0.7s;
  }
  .service-card:hover span{
    transform: translateX(50px);
  }

  .full-section{
    background-color: #000000; ;
  }



  .product-card{
border-bottom: 4px solid #000000;
  }

  .product-card-products{
	border-bottom: 4px solid #FFF100;
  }


